.splash
{
  position: fixed;
  font-size: large;
  top: 0;
  left :0;
  width: 100%;
  height:100vh;
  background: rgb(156, 121, 121);
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
}
.splash.display-none
{
  position: fixed;
  opacity: 0;
  top: 0;
  left :0;
  width: 100%;
  height:100vh;
  background: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
}
@keyframes fadeIn{
    to{
      opacity:0;
    }
}

.fade-in{
  opacity:1;
  animation: fadeIn 2s ease-in forwards;
}


.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(206, 146, 111);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #97b8f5
}

.btn:active {
  background-color: #b3dbb4;
  box-shadow: 0 5px rgb(243, 156, 156);
  transform: translateY(4px);
}

*/
/*.btn 
{
  background-color: #4CAF50;
  border: none;
  border-radius: 10%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;              
  }
